.container {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
  }
  
  
  .container:nth-child(2) {
    background: #3c564f;
  }
  .container:nth-child(1) {
    background: #b69187;
  }
  .container:nth-child(4) {
    background: #bcb8ad;
  }
  .container:nth-child(3) {
    background: #b6916d;
  }
  
  .reveal img{
    height: 100%;
    width: auto;
    max-width: 80vw;
    object-fit: contain;
  }
  
  .fadeup{
    font-family: Termina, sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    -webkit-text-stroke: 2px white;
    color: transparent;
    font-size: 3rem;
    position: absolute;
    top: 25%;
    left: 5%;
    width: 90%;
    height: 50%;
    z-index: 99;
    display: grid;
    place-items: center;
  }
  
  body:not(no-js) .reveal {
    transition: 1s ease-out;
    transition-delay: 0.2s;
    position: relative;
    width: auto;
    height: 80%;
    overflow: hidden;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    visibility: hidden;
  }
  
  body:not(no-js) .reveal img {
    transform: scale(1.3);
    transition: 2s ease-out;
  }
  
  body:not(no-js) .animating {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    visibility: visible;
    transform: skewY(0);
  }
  
  body:not(no-js) .animating img {
    transform: scale(1);
    transition: 4s ease-out;
  }
  
  body:not(no-js) .fadeup {
    opacity: 0;
    transition: 0.4s ease-out;
    transform: translateY(40px);
  }
  
  body:not(no-js) .fading-up {
    opacity: 1;
    transition: 1s ease-out;
    transform: translateY(0px);
    transition-delay: 0.7s;
  }
  