.nav{
    background: #fff;
    border: 2px solid #fbfbfb;
    position: fixed;
    margin: 0 auto;
    margin-top: 30px;
    width: 45%;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px;
    z-index: 2;
}

.logo{
    font-family:'Dela-Regular';
    margin-left: 30px;
}

ul{
    display: flex;
    gap: 30px;
}

ul li{
    list-style: none;
    font-family:'Aoenik-Regular';
}

.nav div button{
    padding: 14px 18px;
    background: #1926C7;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-family:'Aoenik-Regular';
    font-size: 16px;
}

@media screen and (max-width:900px){
    .nav{
        background: #fff;
        position: fixed;
        margin: 0 auto;
        margin-top: 30px;
        width: 85%;
        top: 0;
        left: 0;
        right: 0;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 18px;
        z-index: 2;
    }

    .logo{
        font-size: 18px;
        font-family:'Dela-Regular';
        margin-left: 10px;
    }

   ul{
    display: none;
   }

   .nav div button{
    padding: 12px 16px;
    background: #1926C7;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-family:'Aoenik-Regular';
    font-size: 14px;
}
}